<!--Приклади-->
<section class="process section">
  <div class="container">
    <h2 class="visually-hidden">Опис процесу</h2>
    <ul class="process__list list">
      <li class="process__item">
        <div class="process__item-card">
          <div class="process__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/eiffel-desk-1x.png 1x,
                  /src/images/eiffel-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/eiffel-tab-1x.png 1x,
                  /src/images/eiffel-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/eiffel-mob-1x.jpg 1x,
                  /src/images/eiffel-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/src/images/eiffel-mob-1x.jpg" alt="Ейфелева вежа" />
            </picture>
          </div>
          <div class="process__card">
            <p class="process__text">
              <span class="process__text--blue">3D-друк</span>
              - ми використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="process__text">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="process__text">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
            <button class="btn" type="button">зробити замовлення</button>
          </div>
        </div>
      </li>
      <li class="process__item">
        <div class="process__item-card">
          <div class="process__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/3dprinting-desk-1x.png 1x,
                  /src/images/3dprinting-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/3dprinting-tab-1x.png 1x,
                  /src/images/3dprinting-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/3dprinting-mob-1x.jpg 1x,
                  /src/images/3dprinting-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/src/images/3dprinting-mob-1x.jpg" alt="Моделювання" />
            </picture>
          </div>
          <div class="process__card">
            <p class="process__text">
              <span class="process__text--blue">3D-моделювання</span>
              - це процес розробки математичного уявлення будь-якої поверхні
              об'єкта в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
            </p>
            <p class="process__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="process__text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
            <button class="btn" type="button">зробити замовлення</button>
          </div>
        </div>
      </li>
      <li class="process__item">
        <div class="process__item-card">
          <div class="process__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/3dprinting2-desk-1x.png 1x,
                  /src/images/3dprinting2-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/3dprinting2-tab-1x.png 1x,
                  /src/images/3dprinting2-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/3dprinting2-mob-1x.jpg 1x,
                  /src/images/3dprinting2-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/src/images/3dprinting2-mob-1x.jpg" alt="Сканування" />
            </picture>
          </div>
          <div class="process__card">
            <p class="process__text">
              <span class="process__text--blue">3D-сканування</span>
              - зняття даних, шляхом аналізу форми предмета і на основі
              отриманих даних створення її 3D-моделі.
            </p>
            <p class="process__text">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
            <button class="btn" type="button">зробити замовлення</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
