<section class="examples section">
  <div class="container">
    <h2 class="examples__title page-title">ми створюємо</h2>
    <ul class="examples__list list">
      <li class="examples__item">
        <div class="examples__item-card">
          <div class="examples__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/wecreate1-desk-1x.png 1x,
                  /src/images/wecreate1-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/wecreate1-tab-1x.png 1x,
                  /src/images/wecreate1-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/wecreate1-mob-1x.png 1x,
                  /src/images/wecreate1-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                loading="lazy"
                src="/src/images/wecreate1-mob-1x.png"
                alt="прототип деталі"
              />
            </picture>

            <p class="examples__text">прототипи</p>
          </div>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__item-card">
          <div class="examples__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/wecreate2-desk-1x.png 1x,
                  /src/images/wecreate2-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/wecreate2-tab-1x.png 1x,
                  /src/images/wecreate2-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/wecreate2-mob-1x.png 1x,
                  /src/images/wecreate2-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                loading="lazy"
                src="/src/images/wecreate2-mob-1x.png"
                alt="макет"
              />
            </picture>

            <p class="examples__text">макети</p>
          </div>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__item-card">
          <div class="examples__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/wecreate3-desk-1x.png 1x,
                  /src/images/wecreate3-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/wecreate3-tab-1x.png 1x,
                  /src/images/wecreate3-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/wecreate3-mob-1x.png 1x,
                  /src/images/wecreate3-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                loading="lazy"
                src="/src/images/wecreate3-mob-1x.png"
                alt="декор ваза"
              />
            </picture>

            <p class="examples__text">декор</p>
          </div>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__item-card">
          <div class="examples__wrapper">
            <picture>
              <source
                srcset="
                  /src/images/wecreate4-desk-1x.png 1x,
                  /src/images/wecreate4-desk-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/wecreate4-tab-1x.png 1x,
                  /src/images/wecreate4-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/wecreate4-mob-1x.png 1x,
                  /src/images/wecreate4-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                loading="lazy"
                src="/src/images/wecreate4-mob-1x.png"
                alt="3d куб"
              />
            </picture>
            <p class="examples__text">
              корпоративний <br />
              дизайн
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
