<section class="examples">
  <div class="container">
    <h2 class="examples__title">ми створюємо</h2>
    <ul class="examples__list list">
      <li class="examples__item">
        <div class="examples__wrapper">
          <img
            src="/src/images/wecreate1-mob-1x.png"
            alt="прототип деталі"
            width="90"
            height="75"
          />
          <p class="examples__text">прототипи</p>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__wrapper">
          <img
            src="/src/images/wecreate2-mob-1x.png"
            alt="макет"
            width="102"
            height="64"
          />
          <p class="examples__text">макети</p>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__wrapper">
          <img
            src="/src/images/wecreate3-mob-1x.png"
            alt="декор ваза"
            width="44"
            height="71"
          />
          <p class="examples__text">декор</p>
        </div>
      </li>
      <li class="examples__item">
        <div class="examples__wrapper">
          <img
            src="/src/images/wecreate4-mob-1x.png"
            alt="3d куб"
            width="85"
            height="87"
          />
          <p class="examples__text">корпоративний дизайн</p>
        </div>
      </li>
    </ul>
  </div>
</section>
