<section class="section__model-methods section">
  <div class="container--model">
    <h3 class="section__model-title pretitle">Способи створення моделі:</h3>
    <div class="service__wrap">
      <ul class="service__list">
        <li class="service__item">3D сканування</li>
        <li class="service__item">На основі фотографій з доданими розмірами</li>
        <li class="service__item">За ескізами з розмірами</li>
        <li class="service__item">За вашим кресленням</li>
        <li class="service__item">
          По вже існуючому прототипу шляхом зняття розмірів
        </li>
      </ul>
      <picture class="service__example-pic">
        <source
          srcset="
            ./images/modeling-mob-1x.png 1x,
            ./images/modeling-mob-2x.png 2x
          "
          media="(max-width: 767.5px)"
        />
        <source
          srcset="
            ./images/modeling-tab-1x.png 1x,
            ./images/modeling-tab-2x.png 2x
          "
          media="(max-width: 767.5px)"
        />
        <source
          srcset="
            ./images/modeling-desk-1x.png 1x,
            ./images/modeling-desk-2x.png 2x
          "
          media="(max-width: 767.5px)"
        />
        <img
          class="service__example-png"
          src="./images/modeling-mob-1x.png"
          alt="модель частини двигуна"
        />
      </picture>
    </div>
  </div>
</section>
