<section class="section__model-wecreate">
    <h3>МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h3>
    <ul>
        <li>
            <picture>
                <source
                    srcset="../../../images/realistic1-mob-1x.jpg 1x, ../../../images/realistic1-mob-2x.jpg 2x"
                    media="(max-width: 767.5px)"
                />
                <img src="../../../images/realistic1-mob-1x.jpg" alt="модель частини двигуна">
            </picture>
        </li>
        <li>
            <picture>
                <source
                    srcset="../../../images/realistic2-mob-1x.jpg 1x, ../../../images/realistic2-mob-2x.jpg 2x"
                    media="(max-width: 767.5px)"
                />
                <img src="../../../images/realistic2-mob-1x.jpg" alt="модель частини двигуна">
            </picture>
        </li>
        <li>
            <picture>
                <source
                    srcset="../../../images/realistic3-mob-1x.jpg 1x, ../../../images/realistic3-mob-2x.jpg 2x"
                    media="(max-width: 767.5px)"
                />
                <img src="../../../images/realistic3-mob-1x.jpg" alt="модель частини двигуна">
            </picture>
        </li>
        <li>
            <picture>
                <source
                    srcset="../../../images/realistic4-mob-1x.jpg 1x, ../../../images/realistic4-mob-2x.jpg 2x"
                    media="(max-width: 767.5px)"
                />
                <img src="../../../images/realistic4-mob-1x.jpg" alt="модель частини двигуна">
            </picture>
        </li>
    </ul>
    <button type="button">Зробити замовлення</button>
</section>