<section class="section__model-creation section">
  <div class="container container-creation">
    <h3 class="section__creation-title pretitle">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ <br />
      ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h3>
    <ul class="creation__model-list">
      <li class="creation__model-item">
        <div class="creation__pic-wrap">
          <picture class="creation__pic">
            <source
              srcset="
                ./images/realistic1-mob-1x.jpg 1x,
                ./images/realistic1-mob-2x.jpg 2x
              "
              media="(max-width: 767.5px)"
            />
            <source
              srcset="
                ./images/realistic1-tab-1x.jpg 1x,
                ./images/realistic1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/realistic1-desk-1x.jpg 1x,
                ./images/realistic1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="./images/realistic1-mob-1x.jpg" alt="хомут" />
          </picture>
        </div>
      </li>
      <li class="creation__model-item">
        <div class="creation__pic-wrap">
          <picture class="creation__pic">
            <source
              srcset="
                ./images/realistic2-mob-1x.jpg 1x,
                ./images/realistic2-mob-2x.jpg 2x
              "
              media="(max-width: 767.5px)"
            />
            <source
              srcset="
                ./images/realistic2-tab-1x.jpg 1x,
                ./images/realistic2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/realistic2-desk-1x.jpg 1x,
                ./images/realistic2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="./images/realistic1-mob-2x.jpg" alt="штангенциркуль" />
          </picture>
        </div>
      </li>
      <li class="creation__model-item">
        <div class="creation__pic-wrap">
          <picture class="creation__pic">
            <source
              srcset="
                ./images/realistic3-mob-1x.jpg 1x,
                ./images/realistic3-mob-2x.jpg 2x
              "
              media="(max-width: 767.5px)"
            />
            <source
              srcset="
                ./images/realistic3-tab-1x.jpg 1x,
                ./images/realistic3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/realistic3-desk-1x.jpg 1x,
                ./images/realistic3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="./images/realistic3-mob-1x.jpg" alt="мікросхема" />
          </picture>
        </div>
      </li>
      <li class="creation__model-item">
        <div class="creation__pic-wrap">
          <picture class="creation__pic">
            <source
              srcset="
                ./images/realistic4-mob-1x.jpg 1x,
                ./images/realistic4-mob-2x.jpg 2x
              "
              media="(max-width: 767.5px)"
            />
            <source
              srcset="
                ./images/realistic4-tab-1x.jpg 1x,
                ./images/realistic4-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/realistic4-desk-1x.jpg 1x,
                ./images/realistic4-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="./images/realistic4-desk-1x.jpg" alt="ротор" />
          </picture>
        </div>
      </li>
    </ul>
    <button class="btn__create" type="button">Зробити замовлення</button>
  </div>
</section>
