@import '~node_modules/modern-normalize/modern-normalize.css';

body {  
  //font-family: $common-font;
  //color: $item-text-color;
  // background-color: rgb(255, 162, 0);
  // background-repeat: no-repeat;
	// background-position: top;
	// background-size: cover;
  // background-image: url(../images/background/desk-main-1x.jpg);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

button {
  display: inline-block;
  cursor: pointer;
  /* расширяем кликабельную площадь кнопки*/
  /* border: 1px solid transparent; */
}

img {
  display: block;
  //max-width: 100%; // для адаптивной верстки
  height: auto; // для адаптивной верстки
  // width: 100%; // временно для адаптивной верстки, пока оригин. изображения имеют произвольный размер
}

.no-scroll {
  overflow: hidden;
}
