@font-face {
  font-family: 'Poiret One';
  src: local('PoiretOne.ttf'), local('PoiretOne.ttf'),
    url('../fonts/PoiretOne.eot') format('eot'),
    url('../fonts/PoiretOne.woff2') format('woff2'),
    url('../fonts/PoiretOne.woff') format('woff'),
    url('../fonts/PoiretOne.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Montserrat';
//   src: local('MontserratAlternates-Regular.ttf'),
//     local('MontserratAlternates-Regular.ttf'),
//     url('../fonts/MontserratAlternates-Regular.eot') format('eot'),
//     url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
//     url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
//     url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Regular.ttf'), local('CeraPro-Regular.ttf'),
    url('../fonts/CeraPro-Regular.eot') format('eot'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: local('CaviarDreams.ttf'), local('CaviarDreams.ttf'),
    url('../fonts/CaviarDreams.eot') format('eot'),
    url('../fonts/CaviarDreams.woff2') format('woff2'),
    url('../fonts/CaviarDreams.woff') format('woff'),
    url('../fonts/CaviarDreams.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Comic Neue';
//   src: local('ComicNeue-Regular.ttf'), local('ComicNeue-Regular.ttf'),
//     url('../fonts/ComicNeue-Regular.eot') format('eot'),
//     url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
//     url('../fonts/ComicNeue-Regular.woff') format('woff'),
//     url('../fonts/ComicNeue-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
