// @font-face {
//   font-family: 'Poiret One';
//   src: local('poiretone.ttf'), local('poiretone.ttf'),
//     url('../fonts/poiretone.eot') format('eot'),
//     url('../fonts/poiretone.woff2') format('woff2'),
//     url('../fonts/poiretone.woff') format('woff'),
//     url('../fonts/poiretone.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: local('MontserratAlternates-Regular.ttf'),
//     local('MontserratAlternates-Regular.ttf'),
//     url('../fonts/MontserratAlternates-Regular.eot') format('eot'),
//     url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
//     url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
//     url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Regular.ttf'), local('CeraPro-Regular.ttf'),
    url('../fonts/CeraPro-Regular.eot') format('eot'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Caviar Dreams';
//   src: local('Caviar-Dreams.ttf'), local('Caviar-Dreams.ttf'),
//     url('../fonts/Caviar-Dreams.eot') format('eot'),
//     url('../fonts/Caviar-Dreams.woff2') format('woff2'),
//     url('../fonts/Caviar-Dreams.woff') format('woff'),
//     url('../fonts/Caviar-Dreams.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Comic Neue';
//   src: local('ComicNeue-Regular.ttf'), local('ComicNeue-Regular.ttf'),
//     url('../fonts/ComicNeue-Regular.eot') format('eot'),
//     url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
//     url('../fonts/ComicNeue-Regular.woff') format('woff'),
//     url('../fonts/ComicNeue-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
