<<<<<<< HEAD
=======
$primaryColor: rgba(72, 121, 150, 1);
$backgroundMainColor: #e5e5e5;
$textMainColor: rgba(43, 43, 43, 1);
$svgColor: #008cef;
$focusColor: #008cef;
$footerBackgroundColor: rgba(245, 245, 250, 1);
$buttonBackgroundColor: rgba(245, 245, 250, 1);
$textAreaColor: #cdcdcd;
$contacsBackgroundColor: #ffffff;
$backdropColor: rgba(255, 255, 255, 1);

//Orest addded
>>>>>>> main
$title-color: #487996;
$text-color: #2B2B2B;
$placeholder-color:#CDCDCD;
$button-background-color: #F5F5FA;