<section class="order">
  <div class="container">
    <h2 class="order__tittle">зробити замовлення</h2>
    <div class="otablet-wrap">
      <div class="image-wrap"></div>
      <div class="odescktop-wrap">
        <ul class="order__list list">
          <li class="order__item">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </li>
          <li class="order__item">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </li>
        </ul>
        <div class="orderpic__block">
          <div class="orderpic__car"></div>
          <div class="orderpic__table"></div>
          <div class="orderpic__mushroom"></div>
        </div>
      </div>
    </div>
  </div>
</section>
