<section class="order">
        <div class="container">
          <h2 class="order__tittle">зробити замовлення</h2>
          <div class="image-wrap"></div>

          <ul class="order__list list">
            <li class="order__item">
              На цій сторінці ви можете зробити замовлення заповнивши форму і ми
              зв'яжемося з вами.
            </li>
            <li class="order__item">
              Наші фахівці допоможуть підібрати оптимальні для вас параметри і
              дадуть відповідь на всі ваші запитання.
            </li>
          </ul>
        </div>
      </section>
