<section class="order">
  <div class="container">
   <div class="odecktopconnect-wrap">
            <div class="oform-wrap">
              <h3 class="order__subtitle first-subtittle">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
              <form name="order__form" class="connect order__form">
                <input
                  class="connect__field"
                  placeholder=" "
                  type="text"
                  name="user-name"
                  id="user-name"
                />
                <label class="connect__name" for="user-name">Ім’я</label>
                <input
                  class="connect__field"
                  placeholder=" "
                  type="email"
                  name="email"
                  id="email"
                />
                <label class="connect__email" for="email">Email</label>
                <ul class="connect__choice list">
                  <li class="form-select">
                    Види пластику
                    <svg class="connect__icon" width="10" height="10">
                      <use href="./images/symbol-defs.svg#icon-Polygon-3"></use>
                    </svg>
                    <ul class="connect__view list">
                      <li class="connect__select">ABS</li>
                      <li class="connect__select">PLA</li>
                      <li class="connect__select">HIPS</li>
                      <li class="connect__select">
                        Труднощі у виборі - ми допоможемо
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="connect__choice list">
                  <li class="form-select">
                    Якість друку
                    <svg class="connect__icon" width="10" height="10">
                      <use href="./images/symbol-defs.svg#icon-Polygon-3"></use>
                    </svg>
                    <ul class="connect__view list">
                      <li class="connect__select">300 мікрон</li>
                      <li class="connect__select">200 мікрон</li>
                      <li class="connect__select">100 мікрон</li>
                      <li class="connect__select">
                        Труднощі у виборі - ми допоможемо
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="connect__choice list">
                  <li class="form-select">
                    Колір
                    <svg class="connect__icon" width="10" height="10">
                      <use href="./images/symbol-defs.svg#icon-Polygon-3"></use>
                    </svg>
                    <ul class="connect__view list">
                      <li class="connect__select">red</li>
                      <li class="connect__select">green</li>
                      <li class="connect__select">yellow</li>
                      <li class="connect__select">black</li>
                    </ul>
                  </li>
                </ul>
                <label class="connect__textarea" for="message"
                  >Повідомлення</label
                >
                <div class="otextarea-wrap">
                  <textarea
                    class="connect__featback"
                    name="message"
                    id="message"
                    placeholder="Залишіть своє повідомлення"
                  ></textarea>
                  <svg class="connect__clip" width="22" height="20">
                    <use
                      href="./images/symbol-defs.svg#icon-simple-line-icons_paper-clip"
                    ></use>
                  </svg>
                </div>

                <input class="connect__file" type="file" />
                <p class="connect__footnote">
                  *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
                </p>
                <div class="button">
                <button class="order__btn" type="button">ВІДПРАВИТИ</button></div>
              </form>
            </div>
  </div>
</section>
