<section class="order">
  <div class="container">
    <h3 class="order__subtitle first-subtittle">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
    <form name="order__form" class="connect order__form">
      <div class="form-field">
        <label class="connect__name" for="user-name">Ім’я</label>
        <input
          class="connect__field"
          type="text"
          name="user-name"
          id="user-name"
        />
      </div>
      <div class="form-field">
        <label class="connect__email" for="email">Email</label>
        <input class="connect__field" type="email" name="email" id="email" />
      </div>
      <ul class="connect__choice list">
        <li class="form-select">
          Види пластику
          <ul class="connect__view list">
            <li>ABS</li>
            <li>PLA</li>
            <li>HIPS</li>
            <li>Труднощі у виборі - ми допоможемо</li>
          </ul>
        </li>
      </ul>
      <ul class="connect__choice list">
        <li class="form-select">
          Якість друку
          <ul class="connect__view list">
            <li>300 мікрон</li>
            <li>200 мікрон</li>
            <li>100 мікрон</li>
            <li>Труднощі у виборі - ми допоможемо</li>
          </ul>
        </li>
      </ul>
      <ul class="connect__choice list">
        <li class="form-select">
          Колір
          <ul class="connect__view list">
            <li>red</li>
            <li>green</li>
            <li>yellow</li>
            <li></li>
          </ul>
        </li>
      </ul>
      <label class="connect__message" for="message">Повідомлення</label>
      <textarea
        class="connect__featback"
        name="message"
        id="message"
        placeholder="Залишіть своє повідомлення"
      ></textarea>
      <p class="connect__footnote">
        *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
      </p>
      <button type="button">ВІДПРАВИТИ</button>
    </form>
  </div>
</section>
