@font-face {
  font-family: 'Poiret One';
  src: local('PoiretOne-Regular.ttf'), local('PoiretOne-Regular.ttf'),
    url('../PoiretOne-Regular.eot') format('eot'),
    url('../PoiretOne-Regular.woff2') format('woff2'),
    url('../PoiretOne-Regular.woff') format('woff'),
    url('../PoiretOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratAlternates-Regular.ttf'),
    local('MontserratAlternates-Regular.ttf'),
    url('../MontserratAlternates-Regular.eot') format('eot'),
    url('../MontserratAlternates-Regular.woff2') format('woff2'),
    url('../MontserratAlternates-Regular.woff') format('woff'),
    url('../MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Regular.ttf'), local('CeraPro-Regular.ttf'),
    url('../CeraPro-Regular.eot') format('eot'),
    url('../CeraPro-Regular.woff2') format('woff2'),
    url('../CeraPro-Regular.woff') format('woff'),
    url('../CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar-Dreams.ttf'), local('Caviar-Dreams.ttf'),
    url('../Caviar-Dreams.eot') format('eot'),
    url('../Caviar-Dreams.woff2') format('woff2'),
    url('../Caviar-Dreams.woff') format('woff'),
    url('../Caviar-Dreams.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('ComicNeue-Regular.ttf'), local('ComicNeue-Regular.ttf'),
    url('../ComicNeue-Regular.eot') format('eot'),
    url('../ComicNeue-Regular.woff2') format('woff2'),
    url('../ComicNeue-Regular.woff') format('woff'),
    url('../ComicNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
