<section class="section"> 
    <div class="container container--flex">
        <form action="" class="cform">
            <h2 class="cform__title">Зв'яжіться з нами</h2>
            <label class="cform__field">
                <input class="cform__input" type="text" name="name" placeholder=" ">
                <span class="cform__label">Ім'я</span>
            </label>
            <label class="cform__field">
                <input class="cform__input" type="email" name="email" placeholder=" ">
                <span class="cform__label">Email</span> 
            </label>
            <label class="cform__field">
                <span class="cform__textarea-label">Повідомлення</span> 
                <textarea class="cform__textarea" name="message" placeholder="Залишіть своє повідомлення"></textarea>
                <p class="cform__text">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
            </label>
            <button class="cform__button" type="submit">
                Відправити
            </button>
        </form>
        <div class="contacts">
            <ul class="contacts__list contacts__list--phone">
                <h2 class="contacts__title">Телефони</h2>
                <li><a class="contacts__item" href="tel:+38(095)-73-84-551">+38 (095) -73-84-551</a></li>
                <li><a class="contacts__item" href="tel:+38(098)-00-25-235">+38 (098) -00-25-235</a></li>
            </ul>
            <ul class="contacts__list contacts__list--email">
                <h2 class="contacts__title">Email</h2>
                <li><a class="contacts__item" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a></li>
            </ul>
            <ul class="contacts__list">
                <h2 class="contacts__title">Робочий час</h2>
                <li class="contacts__item">Пн-пт: <br> з 8:00 до 19:00</li>
                <li class="contacts__item">Сб, Нд: <br> з 10:00 до 17:00</li>
            </ul>
        </div>
    </div>
</section>