<section class="section">

    <div class="container hero">
        <h2 class="page-title">Контакти</h2>
        <div class="hero-container">
            <div class="video">
                <iframe class="video__item" src="https://www.youtube.com/embed/ZKc1H8SA674" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="hero-text-container">
                <p class="hero__text">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на
                    десяток хвилин.</p>
                <p class="hero__text">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і
                    просто помилуватися красою цього процесу.</p>
                <p class="hero__text">Приємного перегляду!</p>
            </div>

        </div>
    </div>
</section>
