<section class="section">
    <div class="container hero-contact">
        <h2 class="hero-contact__title page-title">Контакти</h2>
        <div class="hero-contact__div-position">
            <div class="video">
                <iframe class="video__item" src="https://www.youtube.com/embed/ZKc1H8SA674" 
                    title="YouTube video player"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        <ul class="hero-contact__list">
            <li class="hero-contact__text"><p>Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин.</p></li>
            <li class="hero-contact__text"><p>Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і просто помилуватися красою цього процесу.</p></li>
            <li class="hero-contact__text"><p>Приємного перегляду!</p> <img src="/src/images/emoji-desk-1x.png" alt="emoji"></li>
        </ul>
        </div>
    </div>
</section>