
.section__model-title {
    margin-bottom: 16px;
}

.service__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    @include tablet {
        justify-content: space-between;
    }
}

.service__list {
}

.service__item {
    display: flex;
    align-items: center;
&:not(:last-child) {
    margin-bottom: 16px;
}
}

.service__item::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #487996;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 8px;
    flex-shrink: 0;
}

.service__example-pic {
    margin: 0 auto;
    @include tablet {
        margin: 0 34px;
    }
}
