

.creation__model-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 16px;

}

.creation__model-item {
  width: calc((100% - 20px)/2);
}

.creation__model-item:nth-child(odd) {
    border-radius: 0px 0px 0px 50px;
    overflow: hidden;
}

.creation__model-item:nth-child(even) {
    border-radius: 50px 0px;
    overflow: hidden;
}


.btn {
  @extend %btn;
  margin-top: 24px;
  margin-bottom: 55px;
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0 auto;
  }
}
