.container-creation {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.section__creation-title {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-left: 28px;
  }
}

.creation__model-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 16px;
  column-gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    width: 704px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    width: 1377px;
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
}

.creation__pic {
  max-width: 100%;
  height: auto;
}

.creation__pic-wrap {
  width: 50%;
  height: 118px;
  @include tablet {
    // width: calc((100% - 20px) / 2);
    width: 152px;
    height: 134px;
  }
  @media screen and (min-width: 1440px) {
    // width: calc((100% - 60px) / 4);
    width: 320px;
    height: 281px;
  }
}

.creation__model-item:nth-child(odd) {
  border-radius: 0px 0px 0px 50px;
  overflow: hidden;
}

.creation__model-item:nth-child(even) {
  border-radius: 50px 0px;
  overflow: hidden;
}

.btn__create {
  @extend %btn;
  margin-top: 24px;
  margin-bottom: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 80px;
  }
}
