.scanprocess-list__etem::before {
  margin-right: 16px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/599/599502.png');
}
.containers {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
.scanprocess-title__etem{
  margin-bottom: 16px;
  @media screen and (min-width: 480px) {
    margin-left: 28px;
  }
}
.scaprocess-list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 20px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}
.scanprocess-list__etem{
  position: relative;
  width: 130px;
  height: 158px;
  display: flex;
  opacity: 0.8;
  background: $contacsBackgroundColor;
  box-shadow: inset 1px 1px 16px $placeholder-color,
    inset -1px -1px 16px $contacsBackgroundColor;
  border-radius: 50px 0px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 152px;
    height: 182px;
  }
  @media screen and (min-width: 1440px) {
    width: 320px;
    height: 382px;
  }
}
.scanprocess-picture__etem{
  padding-left: 19px;
  padding-top: 16px;
}
.scanprocess-text__etem{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #487996;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 23px;
  }
}
.scanprocess-box__etem{
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.btn {
  @extend %btn;
  margin-top: 24px;
  margin-bottom: 55px;
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0 auto;
  }
}
