.process {
}

.process__list {
}

.process__item {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    // width: 50%;
    // margin-right: 32px;
  }
}

.process__item-card {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.process__item :not(:last-child) {
  margin-bottom: 16px;
}
.process__wrapper {
  margin: 0;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
  border-radius: 50px 0px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 335px;
    height: 462px;
  }
}
.process__card {
  @media screen and (min-width: 768px) {
    width: 50%;
    height: auto;
  }
}

.process__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $text-color;
}
.process__text--blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
}
.btn {
  @extend %btn;
  margin-top: 24px;
  margin-bottom: 55px;
}
