.process__item {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 100px;
  }
}

.process__item-card {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.process__card {
  @media screen and (min-width: 768px) {
    width: 50%;
    height: auto;
  }
}

.process__text {
  font-family: 'Cera Pro';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $text-color;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    font-weight: 400;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 24px;
  }
}

.process__text--blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
}

.btn-description {
  @extend %btn;
  margin-top: 6px;
  margin-left: 0;
  margin-bottom: 55px;
  @media screen and (min-width: 768px) {
    margin-top: 38;
  }
  @media screen and (min-width: 768px) {
    margin-top: 32;
  }
}

.process__picture img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
  border-radius: 50px 0px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 85px;
  }
}
