.examples {
}
.examples__title {
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $title-color;
  margin-bottom: 16px;
}
.examples__list {
  display: flex;

  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.examples__list .examples__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.examples__item {
  position: relative;
  z-index: 1;
  width: 130px;
  height: 158px;
  display: flex;
  opacity: 0.8;
  background: $contacsBackgroundColor;
  box-shadow: inset 1px 1px 16px $placeholder-color,
    inset -1px -1px 16px $contacsBackgroundColor;
  border-radius: 50px 0px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 152px;
    height: 182px;
  }
  @media screen and (min-width: 1440px) {
    width: 320px;
    height: 382px;
  }
}
.examples__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $title-color;
  margin: 0;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 23px;
  }
}
