<footer class="footer">
  <a href="./index.html">
    <img
      src="./images/3dfreedom-2.png"
      alt="Лого"
      width="192"
      height="98"
      class="footer__logo"
    />
  </a>
  <div class="footer__position">
    <div class="footer__part">
      <ul class="navigation">
        <li class="navigation__item">Головна</li>
        <li class="navigation__item">3D Моделювання</li>
        <li class="navigation__item">3D Сканування</li>
        <li class="navigation__item">3D Друк</li>
        <li class="navigation__item">Замовити</li>
        <li class="navigation__item">Контакти</li>
      </ul>
   
    <ul class="socials">
      <li class="socials__item">Instagram</li>
      <li class="socials__item">YouTube</li>
      <li class="socials__item">Facebook</li>
    </ul>
  </div>  
    <div class="address">
      <p class="mail">Email</p>
      <a href="mailto:3dfreedom.info@gmail.com" class="mail__link">
        3dfreedom.info@gmail.com
      </a>

      <div class="phones">
        <p class="phones__title">Телефони</p>
        <ul class="phones__list">
          <li class="phones__item">
            <a href="tel:+380936432288" class="phones__data">
              +38 (093) 643 22 88</a
            >
          </li>
          <li class="phones__item">
            <a href="tel:+380503454423" class="phones__data">
              +38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
