<section class="gallery-section">
  <div class="container">
    <div class="section-gallery-block">
      <h2 class="gallery-header">ГАЛЕРЕЯ</h2>
      <ul class="grid-gallery">
        <li class="grid-gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery1-desk-1x.jpg 1x,
                ./images/gallery1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/gallery1-tab-1x.jpg 1x,
                ./images/gallery1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery1-mob-1x.jpg 1x,
                ./images/gallery1-mob-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery__picture"
              src="./images/gallery1-mob-1x.jpg"
              alt=""
            />
          </picture>
          <h3 class="gallery__description">
            Інженерні методи аналізу та контролю якості
          </h3>
        </li>
        <li class="grid-gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery2-desk-1x.jpg 1x,
                ./images/gallery2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/gallery2-tab-1x.jpg 1x,
                ./images/gallery2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery2-mob-1x.jpg 1x,
                ./images/gallery2-mob-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery__picture"
              src="./images/gallery2-mob-1x.jpg"
              alt=""
            />
          </picture>
          <h3 class="gallery__description">Високоточне 3D сканування</h3>
        </li>
        <li class="grid-gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery3-desk-1x.jpg 1x,
                ./images/gallery3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/gallery3-tab-1x.jpg 1x,
                ./images/gallery3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery3-mob-1x.jpg 1x,
                ./images/gallery3-mob-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery__picture"
              src="./images/gallery3-mob-1x.jpg"
              alt=""
            />
          </picture>
          <h3 class="gallery__description">
            Створення точної копії на базі сканування reverse engineering
          </h3>
        </li>
        <li class="grid-gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery4-desk-1x.jpg 1x,
                ./images/gallery4-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/gallery4-tab-1x.jpg 1x,
                ./images/gallery4-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery4-mob-1x.jpg 1x,
                ./images/gallery4-mob-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery__picture"
              src="./images/gallery4-mob-1x.jpg"
              alt=""
            />
          </picture>
          <h3 class="gallery__description">
            Всі цикли 3D проектування, створення фотореалістичних цифрових
            моделей
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
