<section class="more-photos-section">
  <div class="container">
    <div class="section-photos-block">
      <h2 class="more-photos-header" id="more">БІЛЬШЕ ФОТО</h2>
      <ul class="grid-photos">
        <li class="grid-photos__item">
          <a class="photo-link" href="./images/more-photo1-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo1-desk-1x.jpg 1x,
                  ./images/more-photo1-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo1-tab-1x.jpg 1x,
                  ./images/more-photo1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-photo1-mob-1x.jpg 1x,
                  ./images/more-photo1-mob-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="grid-photos__picture"
                src="./images/more-photo1-mob-1x.jpg"
                alt="3D-printing"
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo2-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo2-desk-1x.jpg 1x,
                  ./images/more-photo2-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo2-tab-1x.jpg 1x,
                  ./images/more-photo2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-photo2-mob-1x.jpg 1x,
                  ./images/more-photo2-mob-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo2-mob-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo3-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo3-desk-1x.jpg 1x,
                  ./images/more-photo3-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo3-tab-1x.jpg 1x,
                  ./images/more-photo3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-photo3-mob-1x.jpg 1x,
                  ./images/more-photo3-mob-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="grid-photos__picture"
                src="./images/more-photo3-mob-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="loading-mobile">
          <svg class="loading-icon" width="45" height="45">
            <use href="./images/icon.svg#icon-loader"></use>
          </svg>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo4-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo4-desk-1x.jpg 1x,
                  ./images/more-photo4-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo4-tab-1x.jpg 1x,
                  ./images/more-photo4-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo4-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo5-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo5-desk-1x.jpg 1x,
                  ./images/more-photo5-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo5-tab-1x.jpg 1x,
                  ./images/more-photo5-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo5-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo6-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo6-desk-1x.jpg 1x,
                  ./images/more-photo6-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo6-tab-1x.jpg 1x,
                  ./images/more-photo6-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo6-tab-1x.jpg"
                alt=""
              /> </picture
          ></a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo7-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo7-desk-1x.jpg 1x,
                  ./images/more-photo7-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo7-tab-1x.jpg 1x,
                  ./images/more-photo7-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo7-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo8-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo8-desk-1x.jpg 1x,
                  ./images/more-photo8-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo8-tab-1x.jpg 1x,
                  ./images/more-photo8-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo8-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo9-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo9-desk-1x.jpg 1x,
                  ./images/more-photo9-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo9-tab-1x.jpg 1x,
                  ./images/more-photo9-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo9-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo10-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo10-desk-1x.jpg 1x,
                  ./images/more-photo10-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo10-tab-1x.jpg 1x,
                  ./images/more-photo10-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="grid-photos__picture"
                src="./images/more-photo10-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo11-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo11-desk-1x.jpg 1x,
                  ./images/more-photo11-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo11-tab-1x.jpg 1x,
                  ./images/more-photo11-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="grid-photos__picture"
                src="./images/more-photo11-tab-1x.jpg"
                alt=""
              />
            </picture>
          </a>
        </li>
        <li class="grid-photos__item">
          <a href="./images/more-photo12-desk-2x.jpg">
            <picture>
              <source
                srcset="
                  ./images/more-photo12-desk-1x.jpg 1x,
                  ./images/more-photo12-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/more-photo12-tab-1x.jpg 1x,
                  ./images/more-photo12-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="grid-photos__picture"
                src="./images/more-photo12-tab-1x.jpg"
                alt="flowers"
              /> </picture
          ></a>
        </li>
      </ul>
      <div class="loading-desctop">
        <svg class="loading-icon" width="45" height="45">
          <use href="./images/icon.svg#icon-loader"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
