.more-photos-section {
  padding-top: 20px;
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 80px;
    padding-top: 30px;
  }
  @include desktop {
    padding-bottom: 100px;
    padding-top: 60px;
  }
}

.more-photos-header {
  margin-bottom: 16px;
  font-family: 'Cera Pro';
  color: #487996;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  @include tablet {
    margin-bottom: 32px;
    font-size: 36px;
  }
  @include desktop {
    margin-bottom: 60px;
    font-size: 48px;
  }
}

.loading-mobile {
  margin: 0 auto;
  display: flex;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.loading-desctop {
  margin: 0 auto;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: block;
  }
}

.grid-photos {
  display: flex;
  flex-direction: column;

  gap: 16px;
  @include tablet {
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include desktop {
    margin-bottom: 12px;
  }
}

.section-photos-block {
  @include desktop {
    width: 1142px;
    margin: 0 auto;
  }
}

.grid-photos__picture {
  width: 100%;
}

.grid-photos__item:nth-child(n + 4) {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: block;
  }
}

.section-photos-block {
  @include desktop {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
