<section class="section">
  <div class="container">
    <h2 class="scanprocess-title__etem pretitle">Процес 3d сканування</h2>
    <ul class="list scaprocess-list">
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
                srcset="./images/scanprocess1-mob-1x.png 1x, ./images/scanprocess1-mob-2x.png 2x"
                media="(max-width: 767.5px)"
            />
            <img src="./images/scanprocess1-mob-1x.png" alt="Підготовка деталі до сканування">
        </picture>
          <p class="scanprocess-text__etem">Підготовка деталі до сканування</p>
        </div>
        
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
                srcset="./images/scanprocess2-mob-1x.png 1x, ./images/scanprocess2-mob-2x.png 2x"
                media="(max-width: 767.5px)"
            />
            <img src="./images/scanprocess2-mob-1x.png" alt="Створення сканів і їх обробка">
        </picture>
          <p class="scanprocess-text__etem">Створення сканів і їх обробка</p>
        </div>
        
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
                srcset="./images/scanprocess3-mob-1x.png 1x, ./images/scanprocess3-mob-2x.png 2x"
                media="(max-width: 767.5px)"
            />
            <img src="./images/scanprocess3-mob-1x.png" alt="Перетворення reverse engineering">
        </picture>
          <p class="scanprocess-text__etem">Перетворення reverse engineering</p>
        </div>
        
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
               srcset="./images/scanprocess4-mob-1x.png 1x, ./images/scanprocess4-mob-2x.png 2x"
               media="(max-width: 767.5px)"
             />
             <img src="./images/scanprocess4-mob-1x.png" alt="Підготовка моделі до друку">
           </picture>
             <p class="scanprocess-text__etem">Підготовка моделі до друку</p>
        </div>
        
        </li>
    </ul>
  </div>
</section>
