<section class="section">
  <div class="container">
    <h2 class="scanprocess-title__etem pretitle">Процес 3d сканування</h2>
    <ul class="list scaprocess-list">
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
              srcset="
                ./images/scanprocess1-desk-1x.png 1x,
                ./images/scanprocess1-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/scanprocess1-tab-1x.png 1x,
                ./images/scanprocess1-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/scanprocess1-mob-1x.png 1x,
                ./images/scanprocess1-mob-2x.png 2x
              "
              media="(max-width: 767.5px)"
            />
            <img
              loading="lazy"
              src="./images/scanprocess1-mob-1x.png"
              alt="Підготовка деталі до сканування"
            />
          </picture>
          <p class="scanprocess-text__etem">
            Підготовка <br />
            деталі до <br />
            сканування
          </p>
        </div>
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
              srcset="
                ./images/scanprocess2-desk-1x.png 1x,
                ./images/scanprocess2-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/scanprocess2-tab-1x.png 1x,
                ./images/scanprocess2-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/scanprocess2-mob-1x.png 1x,
                ./images/scanprocess2-mob-2x.png 2x
              "
              media="(max-width: 767.5px)"
            />
            <img
              loading="lazy"
              src="./images/scanprocess2-mob-1x.png"
              alt="Створення сканів і їх обробка"
            />
          </picture>
          <p class="scanprocess-text__etem">
            Створення <br />
            сканів <br />
            і їх обробка
          </p>
        </div>
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
              srcset="
                ./images/scanprocess3-desk-1x.png 1x,
                ./images/scanprocess3-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/scanprocess3-tab-1x.png 1x,
                ./images/scanprocess3-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/scanprocess3-mob-1x.png 1x,
                ./images/scanprocess3-mob-2x.png 2x
              "
              media="(max-width: 767.5px)"
            />
            <img
              loading="lazy"
              src="./images/scanprocess3-mob-1x.png"
              alt="Перетворення reverse engineering"
            />
          </picture>
          <p class="scanprocess-text__etem">
            Перетворення <br />
            reverse <br />
            engineering
          </p>
        </div>
      </li>
      <li class="scanprocess-list__etem">
        <div class="scanprocess-box__etem">
          <picture class="scanprocess-picture__etem">
            <source
              srcset="
                ./images/scanprocess4-desk-1x.png 1x,
                ./images/scanprocess4-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/scanprocess4-tab-1x.png 1x,
                ./images/scanprocess4-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/scanprocess4-mob-1x.png 1x,
                ./images/scanprocess4-mob-2x.png 2x
              "
              media="(max-width: 767.5px)"
            />
            <img
              loading="lazy"
              src="./images/scanprocess4-mob-1x.png"
              alt="Підготовка моделі до друку"
            />
          </picture>
          <p class="scanprocess-text__etem">
            Підготовка <br />
            моделі <br />
            до друку
          </p>
        </div>
      </li>
    </ul>
    <button class="btn__scan" type="button">зробити замовлення</button>
  </div>
</section>
