<section class="section">
  <div class="container">
    <h2>Процес 3d сканування</h2>
    <ul class="list scaprocess-list">
      <li class="scanprocess-list__etem">
        <p>Підготовка деталі до сканування</p>
      </li>
      <li class="scanprocess-list__etem">
        <p>Створення сканів і їх обробка</p>
      </li>
      <li class="scanprocess-list__etem">
        <p>Перетворення reverse engineering</p>
      </li>
      <li class="scanprocess-list__etem">Підготовка моделі до друку</li>
    </ul>
  </div>
</section>
