.container--flex.contacts-page {
 @include desktop {
  justify-content: space-between;
  max-width: 1142px;
  padding-left: 0;
  padding-right: 0;
 }

}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (max-width: 767px) {
    gap: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    flex-direction: row;
    align-items: baseline;
  }

  @media screen and (min-width: 1440px) {
    gap: 64px;
    margin-bottom: 170px;
  }
  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;
    @include desktop {
      gap: 18px;
    }
    & .list__item:not(:last-child) {
        margin-bottom: 8px;
        @include desktop {
          margin-bottom: 18px;
        }
      }

    &--phone {
      margin-right: 25px;
    }

    &--email {
      margin-right: auto;
      .pretitle {
        text-transform: none;
      }
    }
  }

  &__item {
    text-decoration: none;
    // text-transform: capitalize;

    font-size: 16px;
    line-height: 20px;

    color: $text-color;
  }
    
}
.list.work-time {
  text-transform: capitalize;
}
.work-time .contacts__item {
  margin-bottom: 8px;
  @include tablet {
    text-align: end;
    }
        @include desktop {
          text-align: start;
          margin-bottom: 18px;
        }
}
.work-time .contacts__item span {
  display: block;
  @include desktop {
    display: inline;
  }
  
}
.desktop {
  display: flex;
  flex-direction: row-reverse;
}
