.hero {
    &__title{
        font-family: 'Comic Neue', cursive;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $title-color;

        margin-bottom: 16px;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: $text-color;

        &:not(:last-child){
            margin-bottom: 16px;
        }
    }
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;


    background-color: #000;

    @media screen and (max-width: 767px) {
        padding-bottom: 56.25%;
    }

    @include tablet {
        width: 336px;
        height: 261px;
    }

    @include desktop {
        width: 555px;
        height: 315px;
    }
}

.video__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__list{
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title{
        font-family: 'Comic Neue', cursive;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $title-color;

    }

    &__item{
        text-decoration: none;

        font-size: 16px;
        line-height: 20px;

        color: $text-color;
    }
}